<p id="notice"><%= notice %></p>

<!--Begin header -->
<div class="jumbotron">
  <h1>Publications</h1>
  <p>The Publication Manager lists and manages all publications.</p>
</div>
<!--end header -->


<!--begin buttons -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Actions</h3>
  </div>

  <div class="panel-body">
  <a class="btn btn-primary btn-lg btn-block" href="/publications/new" role="button">New Publication</a>

  </div>
</div>
<!--end buttons -->

<!--begin table -->

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Publications</h3>
  </div>

  <div class="panel-body">



    <table class="table table-striped">
        <thead>
          <tr>
            <th>Show</th>
            <th>Edit</th>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>

      <tbody>
        <% @publications.each do |publication| %>
          <tr>
            <td>
              <button type="button" class="btn btn-default" aria-label="Left Align">
              <%= link_to '', publication, :id => "button_id", :class => "glyphicon glyphicon-info-sign" %>
            </td>
            <td>
              <button type="button" class="btn btn-default" aria-label="Left Align">
              <%= link_to '', edit_publication_path(publication), :id => "button_id", :class => "glyphicon glyphicon-pencil" %>
            </td>
            <td><%= publication.name %></td>
            <td><%= publication.description %></td>
            <td><%= button_to 'Destroy', publication, method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>

<!--end table -->

</div>

<br>
<br>

<%= link_to 'Home', '/' %>  |
<%= link_to 'New Publication', new_publication_path %>
