<p id="notice"><%= notice %></p>

<p>
  <strong>Equipment:</strong>
  <%= @deduction.equipment.name %>
</p>

<p>
  <strong>Link to return:</strong>
  <%= @deduction.link_to_return %>
</p>

<p>
  <strong>Deduction year:</strong>
  <%= @deduction.deduction_year %>
</p>

<p>
  <strong>Cost:</strong>
  <%= number_to_currency(@deduction.equipment.amount) %>
</p>

<p>
  <strong>Elected cost:</strong>
  <%= number_to_currency(@deduction.elected_cost) %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @deduction.classification %>
</p>

<%= link_to 'Edit', edit_deduction_path(@deduction) %> |
<%= link_to 'Back', deductions_path %>
