<p id="notice"><%= notice %></p>

<h1>Equipment</h1>

<% sum = 0 %>
<% @equipment.each do |equipment| %>
  <% sum = sum + equipment.amount %>
<% end %>

<h4>Total Gross Value of Equipment: <%= number_to_currency(sum) %> </h4>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>In service date</th>
      <th>Serial</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><%= equipment.name %></td>
        <td><%= equipment.description %></td>
        <td><%= equipment.in_service_date %></td>
        <td><%= equipment.serial %></td>
        <td><%= number_to_currency(equipment.amount) %></td>
        <td><%= link_to 'Show', equipment %></td>
        <td><%= link_to 'Edit', edit_equipment_path(equipment) %></td>
        <td><%= link_to 'Destroy', equipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Home', '/' %>  |
<%= link_to 'New Item', new_equipment_path %>
