<%= form_for @upload do |f| %>
   

<div class="field">
     <%= f.text_field :email, label: "Enter your email address" %>
</div>
     <%= f.text_field :submitter, label: "Enter your name" %>
<div class="field">
     <%= f.text_area :description, label: "Describe the file" %>
</div>

    <div class="actions">
     <%= f.submit %>
    </div>

<% end %>

   
