<p id="notice"><%= notice %></p>

<h1>Uploads</h1>

<table>
  <thead>
    <tr>
      <th>Date Created</th>
      <th>Submitter</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uploads.each do |upload| %>
      <tr>
        <td><%= upload.created_at %></td>
        <td><%= upload.submitter %></td>
        <td><%= upload.description %></td>
        <td><a href="<%= upload.image.url %>">[download]</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Upload', new_upload_path %>
